# Fin du prétraitement : des input de même longueur

Pour pouvoir exécuter notre réseau de neurone (CNN), nous avons besoin de traiter encore nos données. 

En effet, notre modèle va apprendre les caractéristiques générales de plusieurs vols entre deux Water_Washes, pour chaque avion. Cependant, pour que nous puissions effectuer un réseau de neurones, nous avons besoin d'avoir des intervalles "de même longueur, c'est à dire avec le même nombre de vols pour chaque intervalles. Pour l'instant, certains avions ont plus de 9000 vols entre deux Water-Washes tandis que d'autres en ont très peu, et c'est pourquoi nous devons les traiter.

In [28]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [29]:
#Importation des données pré-traitées
path_df = r'D:/Données/ENSAE/2A/S2/Séminaire de modélisation statistique/pretraitement.csv'
safran=pd.read_csv(path_df ,sep=',', encoding='latin-1')

In [30]:
safran

,date,Unnamed: 0,engine_serial_number,engine_family,engine_series,cycles,cycles_counter,egt_margin,var_mot_1,flight_leg_hours,...,Interpolate_flight_leg_hours,Interpolate_SV_rank,Interpolate_Config_B_rank,Interpolate_WW_rank,Interpolate_var_env_1,Interpolate_var_env_2,Interpolate_var_env_3,Interpolate_var_env_4,Interpolate_var_env_5,Interpolate_egt_slope
0,2019-04-29 06:29:58,1,ESN_1,Engine_family_1,Engine_series_1,14.699402,14,0.881646,-0.313549,0.857778,...,0.857778,0.0,0.0,0.0,-0.261068,0.193871,0.448627,0.0,0.601803,-0.029193
1,2019-04-29 08:10:00,2,ESN_1,Engine_family_1,Engine_series_1,15.284274,15,0.792029,0.006330,0.794167,...,0.794167,0.0,0.0,0.0,-0.064202,0.273855,1.500848,0.0,-1.056965,-0.029193
2,2019-04-29 09:55:00,3,ESN_1,Engine_family_1,Engine_series_1,15.898185,16,0.706729,-0.286324,0.736667,...,0.736667,0.0,0.0,0.0,-0.292673,0.193871,0.764293,0.0,0.149412,-0.029193
3,2019-04-29 11:36:53,4,ESN_1,Engine_family_1,Engine_series_1,16.493874,17,0.702078,0.430174,0.802500,...,0.802500,0.0,0.0,0.0,0.070056,0.273855,1.500848,0.0,-1.056965,-0.029193
4,2019-04-30 04:28:40,5,ESN_1,Engine_family_1,Engine_series_1,22.409543,18,0.645941,0.299420,0.817500,...,0.817500,0.0,0.0,0.0,-0.463185,0.193871,0.448627,0.0,0.601803,-0.029193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450270,2022-10-26 07:39:15,2911298,ESN_1369,Engine_family_1,Engine_series_6,34.993550,50,0.531868,-0.731730,2.654444,...,2.654444,0.0,0.0,0.0,0.728625,-0.356159,-0.708817,0.0,-1.207762,0.000968
2450271,2022-10-26 11:36:39,2911299,ESN_1369,Engine_family_1,Engine_series_6,35.190820,51,0.973045,0.364383,2.501667,...,2.501667,0.0,0.0,0.0,0.421328,-0.351647,-0.077484,0.0,0.199678,0.000968
2450272,2022-10-27 03:55:34,2911301,ESN_1369,Engine_family_1,Engine_series_6,36.001950,53,0.800778,0.949444,2.165000,...,2.165000,0.0,0.0,0.0,1.092857,-0.351647,0.343405,0.0,-0.403511,0.000968
2450273,2022-10-27 07:33:12,2911302,ESN_1369,Engine_family_1,Engine_series_6,36.182090,54,0.619281,-0.748008,2.536667,...,2.536667,0.0,0.0,0.0,1.383080,-0.356159,-0.708817,0.0,-0.705105,0.000968
2450274,2022-10-27 11:38:03,2911303,ESN_1369,Engine_family_1,Engine_series_6,36.385680,55,0.622657,-0.185830,2.263056,...,2.263056,0.0,0.0,0.0,1.165782,-0.351647,0.132960,0.0,-0.001385,0.000968

In [31]:
safran.columns

Index(['date', 'Unnamed: 0', 'engine_serial_number', 'engine_family',
       'engine_series', 'cycles', 'cycles_counter', 'egt_margin', 'var_mot_1',
       'flight_leg_hours', 'event_rank', 'egt_slope', 'SV_indicator',
       'SV_rank', 'Config_B_indicator', 'Config_B_rank', 'WW_indicator',
       'WW_rank', 'config_A', 'config_B', 'var_env_1', 'var_env_2',
       'var_env_3', 'var_env_4', 'var_env_5', 'Interpolate_egt_margin',
       'Interpolate_var_mot_1', 'Interpolate_flight_leg_hours',
       'Interpolate_SV_rank', 'Interpolate_Config_B_rank',
       'Interpolate_WW_rank', 'Interpolate_var_env_1', 'Interpolate_var_env_2',
       'Interpolate_var_env_3', 'Interpolate_var_env_4',
       'Interpolate_var_env_5', 'Interpolate_egt_slope'],
      dtype='object')

In [32]:
#Pour plus de clarté, je ne garde que les colonnes qui ont déja été travaillées et celles nécessaire au traitement des intervalles
safran_2 = safran[['date', "engine_serial_number",'engine_series', 'cycles', 'cycles_counter','Interpolate_egt_margin',
       'Interpolate_var_mot_1','event_rank', 'config_A', 'config_B','Interpolate_flight_leg_hours',
       'Interpolate_SV_rank', 'Interpolate_Config_B_rank',
       'Interpolate_WW_rank', 'Interpolate_var_env_1', 'Interpolate_var_env_2',
       'Interpolate_var_env_3', 'Interpolate_var_env_4',
       'Interpolate_var_env_5', 'Interpolate_egt_slope']]

In [33]:
safran_2

,date,engine_serial_number,engine_series,cycles,cycles_counter,Interpolate_egt_margin,Interpolate_var_mot_1,event_rank,config_A,config_B,Interpolate_flight_leg_hours,Interpolate_SV_rank,Interpolate_Config_B_rank,Interpolate_WW_rank,Interpolate_var_env_1,Interpolate_var_env_2,Interpolate_var_env_3,Interpolate_var_env_4,Interpolate_var_env_5,Interpolate_egt_slope
0,2019-04-29 06:29:58,ESN_1,Engine_series_1,14.699402,14,0.881646,-0.313549,0,Config_A_1,Config_B_1,0.857778,0.0,0.0,0.0,-0.261068,0.193871,0.448627,0.0,0.601803,-0.029193
1,2019-04-29 08:10:00,ESN_1,Engine_series_1,15.284274,15,0.792029,0.006330,0,Config_A_1,Config_B_1,0.794167,0.0,0.0,0.0,-0.064202,0.273855,1.500848,0.0,-1.056965,-0.029193
2,2019-04-29 09:55:00,ESN_1,Engine_series_1,15.898185,16,0.706729,-0.286324,0,Config_A_1,Config_B_1,0.736667,0.0,0.0,0.0,-0.292673,0.193871,0.764293,0.0,0.149412,-0.029193
3,2019-04-29 11:36:53,ESN_1,Engine_series_1,16.493874,17,0.702078,0.430174,0,Config_A_1,Config_B_1,0.802500,0.0,0.0,0.0,0.070056,0.273855,1.500848,0.0,-1.056965,-0.029193
4,2019-04-30 04:28:40,ESN_1,Engine_series_1,22.409543,18,0.645941,0.299420,0,Config_A_1,Config_B_1,0.817500,0.0,0.0,0.0,-0.463185,0.193871,0.448627,0.0,0.601803,-0.029193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450270,2022-10-26 07:39:15,ESN_1369,Engine_series_6,34.993550,50,0.531868,-0.731730,0,Config_A_3,Config_B_1,2.654444,0.0,0.0,0.0,0.728625,-0.356159,-0.708817,0.0,-1.207762,0.000968
2450271,2022-10-26 11:36:39,ESN_1369,Engine_series_6,35.190820,51,0.973045,0.364383,0,Config_A_3,Config_B_1,2.501667,0.0,0.0,0.0,0.421328,-0.351647,-0.077484,0.0,0.199678,0.000968
2450272,2022-10-27 03:55:34,ESN_1369,Engine_series_6,36.001950,53,0.800778,0.949444,0,Config_A_3,Config_B_1,2.165000,0.0,0.0,0.0,1.092857,-0.351647,0.343405,0.0,-0.403511,0.000968
2450273,2022-10-27 07:33:12,ESN_1369,Engine_series_6,36.182090,54,0.619281,-0.748008,0,Config_A_3,Config_B_1,2.536667,0.0,0.0,0.0,1.383080,-0.356159,-0.708817,0.0,-0.705105,0.000968
2450274,2022-10-27 11:38:03,ESN_1369,Engine_series_6,36.385680,55,0.622657,-0.185830,0,Config_A_3,Config_B_1,2.263056,0.0,0.0,0.0,1.165782,-0.351647,0.132960,0.0,-0.001385,0.000968

## 1) Choix de la taille de l'intervalle

In [34]:
#Pour plus de lisibilité, je ne conserve qu'une colonne
safran_3 = safran_2[["engine_serial_number", "Interpolate_WW_rank", "Interpolate_egt_slope"]]

In [35]:
# On a un .count(), donc on peut prend n'importe quelle colonne pour vérifier combien il y a de vols
safran_3.groupby(by=["engine_serial_number", "Interpolate_WW_rank"]).count()

                                          Interpolate_egt_slope
engine_serial_number Interpolate_WW_rank
ESN_1                0.0                                   9884
                     1.0                                   2116
                     2.0                                   3552
                     3.0                                   1000
                     4.0                                   2584
...                                                         ...
ESN_998              0.0                                    505
                     1.0                                     38
ESN_999              0.0                                    465
                     1.0                                    442
                     2.0                                    165

[6350 rows x 1 columns]

On remarque qu'on a souvent plus de données dans l'intervalle avant le premier WaterWash (Interpolate_WW_rank=0), puis un peu moins pour les intervalles suivants.

- **Intervalles avec le moins de données**

Regardons maintenant les cas où l'on a le moins de données pour un même intervalle.

In [36]:
safran_3.groupby(by=["engine_serial_number", "Interpolate_WW_rank"]).count().sort_values(by="Interpolate_egt_slope").head(120)

                                          Interpolate_egt_slope
engine_serial_number Interpolate_WW_rank
ESN_201              4.0                                      1
ESN_137              1.0                                      1
ESN_1073             2.0                                      2
ESN_164              3.0                                      2
ESN_1043             2.0                                      2
...                                                         ...
ESN_766              5.0                                     29
ESN_765              5.0                                     29
ESN_1078             2.0                                     29
ESN_300              8.0                                     29
ESN_166              1.0                                     30

[120 rows x 1 columns]

In [37]:
saf_group = safran_3.groupby(by=["engine_serial_number", "Interpolate_WW_rank"]).count().sort_values(by="Interpolate_egt_slope")
saf_group = saf_group.rename(columns = {'Interpolate_egt_slope': 'Nb_vols_entre_WW'})

#On a encore engine_serial_number et Interpolate_WW_rank en index, on les enlève
saf_group = saf_group.reset_index()

#On réindexe, pour avoir une colonne avec les identifiants de chaque intervalle, 
#qu'on appelle id_int pour identifiant intervalle
saf_group['id_int'] = saf_group.index
saf_group.sort_values(by="Nb_vols_entre_WW")
saf_group

     engine_serial_number  Interpolate_WW_rank  Nb_vols_entre_WW  id_int
0                 ESN_201                  4.0                 1       0
1                 ESN_137                  1.0                 1       1
2                ESN_1073                  2.0                 2       2
3                 ESN_164                  3.0                 2       3
4                ESN_1043                  2.0                 2       4
...                   ...                  ...               ...     ...
6345                ESN_5                  0.0              2672    6345
6346               ESN_15                  0.0              2676    6346
6347               ESN_10                  0.0              2827    6347
6348                ESN_1                  2.0              3552    6348
6349                ESN_1                  0.0              9884    6349

[6350 rows x 4 columns]

In [38]:
saf_group.dtypes

engine_serial_number     object
Interpolate_WW_rank     float64
Nb_vols_entre_WW          int64
id_int                    int64
dtype: object

In [39]:
#De cette manière, on peut visualiser les intervalles où le nombre de vols est inférieur à un certain seuil
saf_group[(saf_group.Nb_vols_entre_WW <= 25)]

    engine_serial_number  Interpolate_WW_rank  Nb_vols_entre_WW  id_int
0                ESN_201                  4.0                 1       0
1                ESN_137                  1.0                 1       1
2               ESN_1073                  2.0                 2       2
3                ESN_164                  3.0                 2       3
4               ESN_1043                  2.0                 2       4
..                   ...                  ...               ...     ...
101              ESN_941                  0.0                24     101
102              ESN_824                  2.0                24     102
103              ESN_680                  2.0                24     103
104             ESN_1311                  1.0                24     104
105              ESN_454                  4.0                24     105

[106 rows x 4 columns]

In [40]:
#test 25
print("Le nombre d'intervalles de temps avec moins de 25 vols correspond à", round((saf_group[(saf_group.Nb_vols_entre_WW < 25)].shape[0]/saf_group.shape[0])*100,2), "% de nos données")
print("Le nombre d'intervalles de temps avec moins de 50 vols correspond à", round((saf_group[(saf_group.Nb_vols_entre_WW < 50)].shape[0]/saf_group.shape[0])*100,2), "% de nos données")
print("Le nombre d'intervalles de temps avec moins de 100 vols correspond à", round((saf_group[(saf_group.Nb_vols_entre_WW < 100)].shape[0]/saf_group.shape[0])*100,2), "% de nos données")
print("Le nombre d'intervalles de temps avec moins de 150 vols correspond à", round((saf_group[(saf_group.Nb_vols_entre_WW < 150)].shape[0]/saf_group.shape[0])*100,2), "% de nos données")

Le nombre d'intervalles de temps avec moins de 25 vols correspond à 1.67 % de nos données
Le nombre d'intervalles de temps avec moins de 50 vols correspond à 3.23 % de nos données
Le nombre d'intervalles de temps avec moins de 100 vols correspond à 7.86 % de nos données
Le nombre d'intervalles de temps avec moins de 150 vols correspond à 14.17 % de nos données

Arbitrairement, je choisis de partir avec 25 vols pour perdre le moins d'intervalles possibles, mais cette valeur peut être revue à la hausse plus tard :

## 2) L'échantillonnage

In [41]:
saf_group.sort_values(by="Nb_vols_entre_WW")

     engine_serial_number  Interpolate_WW_rank  Nb_vols_entre_WW  id_int
0                 ESN_201                  4.0                 1       0
1                 ESN_137                  1.0                 1       1
2                ESN_1073                  2.0                 2       2
3                 ESN_164                  3.0                 2       3
4                ESN_1043                  2.0                 2       4
...                   ...                  ...               ...     ...
6345                ESN_5                  0.0              2672    6345
6346               ESN_15                  0.0              2676    6346
6347               ESN_10                  0.0              2827    6347
6348                ESN_1                  2.0              3552    6348
6349                ESN_1                  0.0              9884    6349

[6350 rows x 4 columns]

In [42]:
safran_2_int = pd.merge(safran_2, saf_group, left_on = ["engine_serial_number", "Interpolate_WW_rank"], right_on = ["engine_serial_number", "Interpolate_WW_rank"], how="inner")
safran_2_int

,date,engine_serial_number,engine_series,cycles,cycles_counter,Interpolate_egt_margin,Interpolate_var_mot_1,event_rank,config_A,config_B,...,Interpolate_Config_B_rank,Interpolate_WW_rank,Interpolate_var_env_1,Interpolate_var_env_2,Interpolate_var_env_3,Interpolate_var_env_4,Interpolate_var_env_5,Interpolate_egt_slope,Nb_vols_entre_WW,id_int
0,2019-04-29 06:29:58,ESN_1,Engine_series_1,14.699402,14,0.881646,-0.313549,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.261068,0.193871,0.448627,0.0,0.601803,-0.029193,9884,6349
1,2019-04-29 08:10:00,ESN_1,Engine_series_1,15.284274,15,0.792029,0.006330,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.064202,0.273855,1.500848,0.0,-1.056965,-0.029193,9884,6349
2,2019-04-29 09:55:00,ESN_1,Engine_series_1,15.898185,16,0.706729,-0.286324,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.292673,0.193871,0.764293,0.0,0.149412,-0.029193,9884,6349
3,2019-04-29 11:36:53,ESN_1,Engine_series_1,16.493874,17,0.702078,0.430174,0,Config_A_1,Config_B_1,...,0.0,0.0,0.070056,0.273855,1.500848,0.0,-1.056965,-0.029193,9884,6349
4,2019-04-30 04:28:40,ESN_1,Engine_series_1,22.409543,18,0.645941,0.299420,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.463185,0.193871,0.448627,0.0,0.601803,-0.029193,9884,6349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450270,2022-10-26 07:39:15,ESN_1369,Engine_series_6,34.993550,50,0.531868,-0.731730,0,Config_A_3,Config_B_1,...,0.0,0.0,0.728625,-0.356159,-0.708817,0.0,-1.207762,0.000968,34,137
2450271,2022-10-26 11:36:39,ESN_1369,Engine_series_6,35.190820,51,0.973045,0.364383,0,Config_A_3,Config_B_1,...,0.0,0.0,0.421328,-0.351647,-0.077484,0.0,0.199678,0.000968,34,137
2450272,2022-10-27 03:55:34,ESN_1369,Engine_series_6,36.001950,53,0.800778,0.949444,0,Config_A_3,Config_B_1,...,0.0,0.0,1.092857,-0.351647,0.343405,0.0,-0.403511,0.000968,34,137
2450273,2022-10-27 07:33:12,ESN_1369,Engine_series_6,36.182090,54,0.619281,-0.748008,0,Config_A_3,Config_B_1,...,0.0,0.0,1.383080,-0.356159,-0.708817,0.0,-0.705105,0.000968,34,137
2450274,2022-10-27 11:38:03,ESN_1369,Engine_series_6,36.385680,55,0.622657,-0.185830,0,Config_A_3,Config_B_1,...,0.0,0.0,1.165782,-0.351647,0.132960,0.0,-0.001385,0.000968,34,137

### A) 25 vols mimimum par intervalles

In [43]:
#Je garde cette cellule pour l'instant, mais on peut voir après pour la supprimer, et effectuer tout en une seule étape

df_mauvais = safran_2_int[safran_2_int["Nb_vols_entre_WW"].between(0, 25)] # Les vols qu'on supprime
df_keep= safran_2_int[~safran_2_int["Nb_vols_entre_WW"].between(0,25)] #Les vols qu'on garde
df_keep
#On conserve uniquement les intervalles où on a plus de 25 données

,date,engine_serial_number,engine_series,cycles,cycles_counter,Interpolate_egt_margin,Interpolate_var_mot_1,event_rank,config_A,config_B,...,Interpolate_Config_B_rank,Interpolate_WW_rank,Interpolate_var_env_1,Interpolate_var_env_2,Interpolate_var_env_3,Interpolate_var_env_4,Interpolate_var_env_5,Interpolate_egt_slope,Nb_vols_entre_WW,id_int
0,2019-04-29 06:29:58,ESN_1,Engine_series_1,14.699402,14,0.881646,-0.313549,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.261068,0.193871,0.448627,0.0,0.601803,-0.029193,9884,6349
1,2019-04-29 08:10:00,ESN_1,Engine_series_1,15.284274,15,0.792029,0.006330,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.064202,0.273855,1.500848,0.0,-1.056965,-0.029193,9884,6349
2,2019-04-29 09:55:00,ESN_1,Engine_series_1,15.898185,16,0.706729,-0.286324,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.292673,0.193871,0.764293,0.0,0.149412,-0.029193,9884,6349
3,2019-04-29 11:36:53,ESN_1,Engine_series_1,16.493874,17,0.702078,0.430174,0,Config_A_1,Config_B_1,...,0.0,0.0,0.070056,0.273855,1.500848,0.0,-1.056965,-0.029193,9884,6349
4,2019-04-30 04:28:40,ESN_1,Engine_series_1,22.409543,18,0.645941,0.299420,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.463185,0.193871,0.448627,0.0,0.601803,-0.029193,9884,6349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450270,2022-10-26 07:39:15,ESN_1369,Engine_series_6,34.993550,50,0.531868,-0.731730,0,Config_A_3,Config_B_1,...,0.0,0.0,0.728625,-0.356159,-0.708817,0.0,-1.207762,0.000968,34,137
2450271,2022-10-26 11:36:39,ESN_1369,Engine_series_6,35.190820,51,0.973045,0.364383,0,Config_A_3,Config_B_1,...,0.0,0.0,0.421328,-0.351647,-0.077484,0.0,0.199678,0.000968,34,137
2450272,2022-10-27 03:55:34,ESN_1369,Engine_series_6,36.001950,53,0.800778,0.949444,0,Config_A_3,Config_B_1,...,0.0,0.0,1.092857,-0.351647,0.343405,0.0,-0.403511,0.000968,34,137
2450273,2022-10-27 07:33:12,ESN_1369,Engine_series_6,36.182090,54,0.619281,-0.748008,0,Config_A_3,Config_B_1,...,0.0,0.0,1.383080,-0.356159,-0.708817,0.0,-0.705105,0.000968,34,137
2450274,2022-10-27 11:38:03,ESN_1369,Engine_series_6,36.385680,55,0.622657,-0.185830,0,Config_A_3,Config_B_1,...,0.0,0.0,1.165782,-0.351647,0.132960,0.0,-0.001385,0.000968,34,137

In [44]:
#ATTENTION cette cellule peut prendre 2-3 minutes à s'éxécuter
df_ech = df_keep.groupby("id_int").sample(25) #On utilise sample(25) pour avoir 25 données aléatoire par intervalle
df_ech

,date,engine_serial_number,engine_series,cycles,cycles_counter,Interpolate_egt_margin,Interpolate_var_mot_1,event_rank,config_A,config_B,...,Interpolate_Config_B_rank,Interpolate_WW_rank,Interpolate_var_env_1,Interpolate_var_env_2,Interpolate_var_env_3,Interpolate_var_env_4,Interpolate_var_env_5,Interpolate_egt_slope,Nb_vols_entre_WW,id_int
2416405,2022-10-19 06:33:44,ESN_1170,Engine_series_1,368.908700,383,0.261940,0.462902,2,Config_A_2,Config_B_1,...,0.0,2.0,-0.477602,-0.355809,-0.077484,0.0,0.652069,0.003373,26,106
2416415,2022-10-23 08:16:52,ESN_1170,Engine_series_1,383.885600,397,0.155736,0.110019,2,Config_A_2,Config_B_1,...,0.0,2.0,-0.597793,-0.211525,-1.550594,0.0,-0.956433,0.003373,26,106
2416403,2022-10-18 06:42:36,ESN_1170,Engine_series_1,365.254300,381,0.297864,0.971907,2,Config_A_2,Config_B_1,...,0.0,2.0,-0.566294,-0.355809,-0.393150,0.0,0.400740,0.003373,26,106
2416420,2022-10-25 02:05:17,ESN_1170,Engine_series_1,390.287700,402,0.172267,1.009863,2,Config_A_2,Config_B_1,...,0.0,2.0,-0.473238,-0.362307,-1.340150,0.0,0.601803,0.003373,26,106
2416412,2022-10-21 08:01:54,ESN_1170,Engine_series_1,377.540500,393,0.128566,1.017435,2,Config_A_2,Config_B_1,...,0.0,2.0,-0.608811,-0.352479,-1.895960,0.0,0.938260,0.003373,26,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3218,2019-07-25 19:41:20,ESN_1,Engine_series_1,760.653756,776,-0.280312,0.575080,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.246718,0.197381,-1.024483,1.0,1.154726,-0.029193,9884,6349
9203,2020-02-19 14:43:04,ESN_1,Engine_series_1,1866.730024,1874,-0.496866,-0.002731,4,Config_A_1,Config_B_3,...,2.0,0.0,-0.531764,0.344733,0.132960,0.0,-1.107231,-0.010711,9884,6349
5180,2019-05-26 17:48:40,ESN_1,Engine_series_1,248.733652,255,0.446083,0.610179,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.263077,0.193871,0.238183,0.0,0.350475,-0.029193,9884,6349
5324,2019-06-13 13:44:34,ESN_1,Engine_series_1,396.848147,402,0.311789,0.197938,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.598141,-0.109125,0.448627,0.0,-1.358559,-0.029193,9884,6349
9235,2020-02-23 08:11:22,ESN_1,Engine_series_1,1896.072882,1908,-0.620512,0.241978,4,Config_A_1,Config_B_3,...,2.0,0.0,-0.436829,0.344733,0.027738,0.0,-0.604574,-0.010711,9884,6349

In [45]:
print("On s'attend à avoir une base de données avec",25*(6350-106),"lignes")
print("Notre base de données a", df_ech.shape[0],"lignes")
if df_ech.shape[0] == 25*(6350-106):
    print("C'est génial, youpi!!!")

On s'attend à avoir une base de données avec 156100 lignes
Notre base de données a 156100 lignes
C'est génial, youpi!!!

Remarque pour améliorer l'échantillonnage : 
on pourrait faire de la data_augmentation, ça peut demander un peu plus de temps, mais ça permettrait de garder plus de données. Dans mon notebook, on ne garde que 25 données par intervalles, si on veut, on peut facilement en garder 100. Pour en garder plus, il faudrait après regarder les intervalles où il n'y a pas assez de données et en ajouter artificiellement, comme ça on pourrait quand même nous en servir. 
Qu'en dis tu? 
Bisous!

### B) 50 vols minimum par intervalles
- si on choisit 50 vols min par intervalles, ça donne ça :

In [46]:
#Je garde cette cellule pour l'instant, mais on peut voir après pour la supprimer, et effectuer tout en une seule étape

df_mauvais_50 = safran_2_int[safran_2_int["Nb_vols_entre_WW"].between(0, 50)] # Les vols qu'on supprime
df_keep_50= safran_2_int[~safran_2_int["Nb_vols_entre_WW"].between(0,50)] #Les vols qu'on garde
df_keep_50
#On conserve uniquement les intervalles où on a plus de 50 données

,date,engine_serial_number,engine_series,cycles,cycles_counter,Interpolate_egt_margin,Interpolate_var_mot_1,event_rank,config_A,config_B,...,Interpolate_Config_B_rank,Interpolate_WW_rank,Interpolate_var_env_1,Interpolate_var_env_2,Interpolate_var_env_3,Interpolate_var_env_4,Interpolate_var_env_5,Interpolate_egt_slope,Nb_vols_entre_WW,id_int
0,2019-04-29 06:29:58,ESN_1,Engine_series_1,14.699402,14,0.881646,-0.313549,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.261068,0.193871,0.448627,0.0,0.601803,-0.029193,9884,6349
1,2019-04-29 08:10:00,ESN_1,Engine_series_1,15.284274,15,0.792029,0.006330,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.064202,0.273855,1.500848,0.0,-1.056965,-0.029193,9884,6349
2,2019-04-29 09:55:00,ESN_1,Engine_series_1,15.898185,16,0.706729,-0.286324,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.292673,0.193871,0.764293,0.0,0.149412,-0.029193,9884,6349
3,2019-04-29 11:36:53,ESN_1,Engine_series_1,16.493874,17,0.702078,0.430174,0,Config_A_1,Config_B_1,...,0.0,0.0,0.070056,0.273855,1.500848,0.0,-1.056965,-0.029193,9884,6349
4,2019-04-30 04:28:40,ESN_1,Engine_series_1,22.409543,18,0.645941,0.299420,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.463185,0.193871,0.448627,0.0,0.601803,-0.029193,9884,6349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450219,2022-10-27 03:49:41,ESN_1360,Engine_series_1,254.604500,274,0.919735,0.869409,0,Config_A_3,Config_B_1,...,0.0,0.0,0.064519,-0.368762,0.238182,0.0,0.451006,-0.004884,210,1407
2450220,2022-10-27 12:43:08,ESN_1360,Engine_series_1,256.982600,275,0.686130,0.279454,0,Config_A_3,Config_B_1,...,0.0,0.0,-0.223848,-0.311284,-0.919261,0.0,-1.056965,-0.004884,210,1407
2450221,2022-10-27 15:30:42,ESN_1360,Engine_series_1,257.729600,276,0.721306,0.346712,0,Config_A_3,Config_B_1,...,0.0,0.0,-0.334779,-0.303992,-1.971483,0.0,0.551538,-0.004884,210,1407
2450222,2022-10-27 18:33:59,ESN_1360,Engine_series_1,258.546700,277,0.675019,0.313983,0,Config_A_3,Config_B_1,...,0.0,0.0,1.174560,-0.311284,0.132960,0.0,-2.363873,-0.004884,210,1407
2450223,2022-10-27 21:16:26,ESN_1360,Engine_series_1,259.270800,278,0.936150,0.578178,0,Config_A_3,Config_B_1,...,0.0,0.0,0.801038,-0.368598,0.764293,0.0,0.048881,-0.004884,210,1407

In [47]:
#ATTENTION cette cellule peut prendre 2-3 minutes à s'éxécuter
df_ech = df_keep_50.groupby("id_int").sample(50) #On utilise sample(50) pour avoir 50 données aléatoire par intervalle
df_ech

,date,engine_serial_number,engine_series,cycles,cycles_counter,Interpolate_egt_margin,Interpolate_var_mot_1,event_rank,config_A,config_B,...,Interpolate_Config_B_rank,Interpolate_WW_rank,Interpolate_var_env_1,Interpolate_var_env_2,Interpolate_var_env_3,Interpolate_var_env_4,Interpolate_var_env_5,Interpolate_egt_slope,Nb_vols_entre_WW,id_int
1935161,2022-10-19 22:09:03,ESN_670,Engine_series_1,1908.699000,2056,0.902400,-0.690537,4,Config_A_2,Config_B_1,...,0.0,4.0,-0.166963,0.468182,-0.393150,0.0,-0.051651,-0.038316,51,207
1935168,2022-10-21 19:04:45,ESN_670,Engine_series_1,1917.576000,2064,0.652555,0.469959,4,Config_A_2,Config_B_1,...,0.0,4.0,-0.506816,-0.337710,-0.498373,0.0,-1.810950,-0.038316,51,207
1935162,2022-10-20 03:17:46,ESN_670,Engine_series_1,1909.716000,2057,0.894338,0.452128,4,Config_A_2,Config_B_1,...,0.0,4.0,2.918360,-0.365177,-1.550594,1.0,0.350475,-0.038316,51,207
1935195,2022-10-27 20:15:06,ESN_670,Engine_series_1,1946.259000,2096,0.592978,0.961903,4,Config_A_2,Config_B_1,...,0.0,4.0,-0.514030,-0.363668,-1.024483,0.0,-2.564936,-0.038316,51,207
1935187,2022-10-25 20:52:29,ESN_670,Engine_series_1,1936.901000,2087,0.658972,1.047964,4,Config_A_2,Config_B_1,...,0.0,4.0,-0.511196,-0.365177,-1.024483,0.0,-1.006699,-0.038316,51,207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2019-11-07 20:03:04,ESN_1,Engine_series_1,1308.933647,1322,-0.160669,-0.581287,1,Config_A_1,Config_B_1,...,0.0,0.0,0.066481,0.207607,-1.866260,0.0,0.199678,-0.012429,9884,6349
2567,2019-05-12 08:41:35,ESN_1,Engine_series_1,124.920548,110,0.343353,0.518994,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.422636,0.193871,0.553849,0.0,-1.157496,-0.029193,9884,6349
3969,2020-01-01 01:12:37,ESN_1,Engine_series_1,1555.860959,1575,-0.539265,-0.512271,3,Config_A_1,Config_B_2,...,1.0,0.0,-0.045310,4.674665,-0.077484,0.0,-0.906168,-0.178054,9884,6349
7610,2019-05-22 14:20:16,ESN_1,Engine_series_1,211.411781,214,0.486905,0.678002,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.457030,0.234348,1.500848,0.0,-1.810950,-0.029193,9884,6349
3010,2019-07-01 17:07:15,ESN_1,Engine_series_1,551.496020,560,0.169250,0.822254,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.496199,0.197381,-0.182706,0.0,0.853132,-0.029193,9884,6349

In [48]:
print("On s'attend à avoir une base de données avec",50*(6350-saf_group[(saf_group.Nb_vols_entre_WW <= 50)].shape[0]),"lignes")
print("Notre base de données a", df_ech.shape[0],"lignes")
if df_ech.shape[0] == 50*(6350-saf_group[(saf_group.Nb_vols_entre_WW <= 50)].shape[0]):
    print("C'est génial, youpi!!!")

On s'attend à avoir une base de données avec 307150 lignes
Notre base de données a 307150 lignes
C'est génial, youpi!!!

### C) 100 vols minimum

In [49]:
#Je garde cette cellule pour l'instant, mais on peut voir après pour la supprimer, et effectuer tout en une seule étape

df_mauvais_100 = safran_2_int[safran_2_int["Nb_vols_entre_WW"].between(0, 99)] # Les vols qu'on supprime
df_keep_100 = safran_2_int[~safran_2_int["Nb_vols_entre_WW"].between(0,99)] #Les vols qu'on garde
df_keep_100
#On conserve uniquement les intervalles où on a plus de 50 données

,date,engine_serial_number,engine_series,cycles,cycles_counter,Interpolate_egt_margin,Interpolate_var_mot_1,event_rank,config_A,config_B,...,Interpolate_Config_B_rank,Interpolate_WW_rank,Interpolate_var_env_1,Interpolate_var_env_2,Interpolate_var_env_3,Interpolate_var_env_4,Interpolate_var_env_5,Interpolate_egt_slope,Nb_vols_entre_WW,id_int
0,2019-04-29 06:29:58,ESN_1,Engine_series_1,14.699402,14,0.881646,-0.313549,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.261068,0.193871,0.448627,0.0,0.601803,-0.029193,9884,6349
1,2019-04-29 08:10:00,ESN_1,Engine_series_1,15.284274,15,0.792029,0.006330,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.064202,0.273855,1.500848,0.0,-1.056965,-0.029193,9884,6349
2,2019-04-29 09:55:00,ESN_1,Engine_series_1,15.898185,16,0.706729,-0.286324,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.292673,0.193871,0.764293,0.0,0.149412,-0.029193,9884,6349
3,2019-04-29 11:36:53,ESN_1,Engine_series_1,16.493874,17,0.702078,0.430174,0,Config_A_1,Config_B_1,...,0.0,0.0,0.070056,0.273855,1.500848,0.0,-1.056965,-0.029193,9884,6349
4,2019-04-30 04:28:40,ESN_1,Engine_series_1,22.409543,18,0.645941,0.299420,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.463185,0.193871,0.448627,0.0,0.601803,-0.029193,9884,6349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450219,2022-10-27 03:49:41,ESN_1360,Engine_series_1,254.604500,274,0.919735,0.869409,0,Config_A_3,Config_B_1,...,0.0,0.0,0.064519,-0.368762,0.238182,0.0,0.451006,-0.004884,210,1407
2450220,2022-10-27 12:43:08,ESN_1360,Engine_series_1,256.982600,275,0.686130,0.279454,0,Config_A_3,Config_B_1,...,0.0,0.0,-0.223848,-0.311284,-0.919261,0.0,-1.056965,-0.004884,210,1407
2450221,2022-10-27 15:30:42,ESN_1360,Engine_series_1,257.729600,276,0.721306,0.346712,0,Config_A_3,Config_B_1,...,0.0,0.0,-0.334779,-0.303992,-1.971483,0.0,0.551538,-0.004884,210,1407
2450222,2022-10-27 18:33:59,ESN_1360,Engine_series_1,258.546700,277,0.675019,0.313983,0,Config_A_3,Config_B_1,...,0.0,0.0,1.174560,-0.311284,0.132960,0.0,-2.363873,-0.004884,210,1407
2450223,2022-10-27 21:16:26,ESN_1360,Engine_series_1,259.270800,278,0.936150,0.578178,0,Config_A_3,Config_B_1,...,0.0,0.0,0.801038,-0.368598,0.764293,0.0,0.048881,-0.004884,210,1407

In [50]:
#ATTENTION cette cellule peut prendre 2-3 minutes à s'éxécuter
df_ech_100 = df_keep_100.groupby("id_int").sample(100) #On utilise sample(50) pour avoir 50 données aléatoire par intervalle
df_ech_100

,date,engine_serial_number,engine_series,cycles,cycles_counter,Interpolate_egt_margin,Interpolate_var_mot_1,event_rank,config_A,config_B,...,Interpolate_Config_B_rank,Interpolate_WW_rank,Interpolate_var_env_1,Interpolate_var_env_2,Interpolate_var_env_3,Interpolate_var_env_4,Interpolate_var_env_5,Interpolate_egt_slope,Nb_vols_entre_WW,id_int
2357450,2022-10-18 18:59:55,ESN_1041,Engine_series_1,985.710800,1051,0.203914,1.052000,2,Config_A_2,Config_B_1,...,0.0,2.0,-0.413768,-0.337710,-0.498373,0.0,-1.760685,-0.024441,100,499
2357465,2022-10-22 04:57:00,ESN_1041,Engine_series_1,1001.105000,1067,0.353335,-0.365322,2,Config_A_2,Config_B_1,...,0.0,2.0,-0.487399,-0.368209,-0.919261,0.0,0.400740,-0.024441,100,499
2357425,2022-10-13 00:45:50,ESN_1041,Engine_series_1,959.884700,1026,0.485236,0.932616,2,Config_A_2,Config_B_1,...,0.0,2.0,-0.390356,-0.367936,0.027738,0.0,0.199678,-0.024441,100,499
2357443,2022-10-17 06:03:42,ESN_1041,Engine_series_1,978.809900,1044,0.410008,-0.933532,2,Config_A_2,Config_B_1,...,0.0,2.0,-0.479503,-0.337710,-0.919261,0.0,-1.660153,-0.024441,100,499
2357440,2022-10-16 21:05:43,ESN_1041,Engine_series_1,977.134700,1041,0.252126,1.455051,2,Config_A_2,Config_B_1,...,0.0,2.0,-0.580330,-0.356625,-1.234928,0.0,-2.665467,-0.024441,100,499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,2019-11-23 02:22:54,ESN_1,Engine_series_1,1387.978187,1403,0.010412,0.512387,2,Config_A_1,Config_B_1,...,0.0,0.0,-0.251725,4.245779,-0.393150,0.0,-0.956433,0.002829,9884,6349
8771,2019-11-28 19:18:14,ESN_1,Engine_series_1,1414.669626,1428,-0.045484,0.250037,2,Config_A_1,Config_B_1,...,0.0,0.0,-0.574341,0.531657,-1.234928,0.0,0.501272,0.002829,9884,6349
2721,2019-05-28 08:28:03,ESN_1,Engine_series_1,261.183688,267,0.415877,0.612964,0,Config_A_1,Config_B_1,...,0.0,0.0,-0.475763,0.193871,0.448627,0.0,-0.101917,-0.029193,9884,6349
9499,2020-03-27 16:42:57,ESN_1,Engine_series_1,2166.639738,2183,-1.073733,-0.230668,5,Config_A_1,Config_B_2,...,3.0,0.0,-0.513067,0.017431,1.079960,0.0,-1.408825,-0.398132,9884,6349
1812,2020-02-22 03:02:35,ESN_1,Engine_series_1,1886.514120,1896,-0.587144,0.646510,4,Config_A_1,Config_B_3,...,2.0,0.0,-0.468031,0.344733,-0.708817,0.0,0.903397,-0.010711,9884,6349

In [51]:
print("On s'attend à avoir une base de données avec",100*(6350-saf_group[(saf_group.Nb_vols_entre_WW < 100)].shape[0]),"lignes")
print("Notre base de données a", df_ech_100.shape[0],"lignes")
print("On supprime",round(saf_group[(saf_group.Nb_vols_entre_WW < 100)].shape[0]*100/saf_group.shape[0],2),"% des intervalles")
if df_ech_100.shape[0] == 100*(6350-saf_group[(saf_group.Nb_vols_entre_WW < 100)].shape[0]):
    print("C'est bon, on a autant de ligne que souhaité!")

On s'attend à avoir une base de données avec 585100 lignes
Notre base de données a 585100 lignes
On supprime 7.86 % des intervalles
C'est bon, on a autant de ligne que souhaité!

In [52]:
# Cas 1, où l'on souhaite un unique dataframe pour X
Y = df_ech_100[["Interpolate_egt_slope", "id_int"]]
X = df_ech_100[["engine_serial_number", "engine_series","cycles_counter",'config_A', 'config_B', 'Interpolate_flight_leg_hours', 'event_rank',
       'Interpolate_SV_rank', 'Interpolate_Config_B_rank', 'Interpolate_var_env_1', 'Interpolate_var_env_2',
       'Interpolate_var_env_3', 'Interpolate_var_env_4',
       'Interpolate_var_env_5', "id_int"]] # Cas où on a besoin d'un seul dataframe

#On télécharge nos base X et Y en csv
Y.to_csv('D:/Données/ENSAE/2A/S2/Séminaire de modélisation statistique/Y.csv')
X.to_csv('D:/Données/ENSAE/2A/S2/Séminaire de modélisation statistique/X.csv')

In [54]:
X_and_Y = df_ech_100[["engine_serial_number", "engine_series","cycles_counter",
                      'config_A', 'config_B', 'Interpolate_flight_leg_hours', 'event_rank',
                      'Interpolate_SV_rank', 'Interpolate_Config_B_rank', 'Interpolate_var_env_1',
                      'Interpolate_var_env_2',       'Interpolate_var_env_3', 'Interpolate_var_env_4',
                      'Interpolate_var_env_5', "Interpolate_egt_slope", "id_int"]]
X_and_Y.to_csv('D:/Données/ENSAE/2A/S2/Séminaire de modélisation statistique/X_and_Y.csv')

Liste des variables pour lesquelles on hésite :
    - var_mot_1 :
    - date :?
    - SV rank : demander confirmation
    - nombre de WW effectués : double corrélation avec Y

In [ ]:
#NE FONCTIONNE PAS ENCORE
# Cas 2, où l'on souhaite un dataframe par intervalle
#A ne pas lancer si on ne fait pas cette méthode, parce que... ça fait plein de fichier créés!
df_ech_100_cut = df_ech_100[['Interpolate_var_mot_1', 'Interpolate_flight_leg_hours',
       'Interpolate_SV_rank', 'Interpolate_Config_B_rank',
       'Interpolate_WW_rank', 'Interpolate_var_env_1', 'Interpolate_var_env_2',
       'Interpolate_var_env_3', 'Interpolate_var_env_4',
       'Interpolate_var_env_5', "id_int"]]

for i in df_ech_100_cut['id_int'].unique():
    X_int = pd.DataFrame()
    X_int = df_ech[(df_ech_100_cut.id_int== i)]
    print(X_int)
    #X.to_csv('D:/Données/ENSAE/2A/S2/Séminaire de modélisation statistique/X.csv')

# **BROUILLON EN DESSOUS**

Pour garder des intervalles avec 100 données différentes, tout en utilisant quand même les 499 intervalles qui comportent moins de 100 vols, on a choisit de faire de la data augmentation pour ces modèles.

In [ ]:
df_mauvais_100

In [ ]:
df_chelou = pd.DataFrame()
for i in df_mauvais_100['id_int'].unique():
    nb_valeur_a_ajouter = 100 - df_mauvais_100[df_mauvais_100.id_int == i]["Nb_vols_entre_WW"].count()
    
    print("Le nombre de valeur à ajouter pour l'intervalle numéro",i, "est de", nb_valeur_a_ajouter)
    for i in range nb_valeur_a_ajouter
    df_mauvais_100 = pd.concat([df_mauvais_100, pd.DataFrame({"Interpolate_egt_margin" : row[0]*(1+uniform(-p,p)),
                                        "RSI" : row[1]*(1+uniform(-p,p)),
                                        "STO_K" : row[2]*(1+uniform(-p,p)),
                                        "D" : row[3]*(1+uniform(-p,p)),
                                        "20d-50d" :row[4]*(1+uniform(-p,p)),
                                        "momentum" : row[5]*(1+uniform(-p,p)),
                                        "capm" : row[6]*(1+uniform(-p,p)),
                                        "Signal" : row["Signal"]
                                        },index = [end + i*d])])

In [ ]:
df_mauvais_100

In [ ]:
def data_augmentation(df,p=0.01):
    """
  La valeur de p est très importante : c'est le pourcentage de modification. 
  return: DataFrame     comme df mais avec plus de lignes 
  """
    res = df_mauvais_100.copy()
    for i in df_mauvais_100['id_int'].unique():
                res = pd.concat([res, pd.DataFrame({"Interpolate_var_env_5" : row[0]*(1+uniform(-p,p)),
                                        "RSI" : row[1]*(1+uniform(-p,p)),
                                        "STO_K" : row[2]*(1+uniform(-p,p)),
                                        "D" : row[3]*(1+uniform(-p,p)),
                                        "20d-50d" :row[4]*(1+uniform(-p,p)),
                                        "momentum" : row[5]*(1+uniform(-p,p)),
                                        "capm" : row[6]*(1+uniform(-p,p)),
                                        "Signal" : row["Signal"]
                                        },index = [end + i*d])])
            i+=n
    return res

In [ ]:
for j in df_mauvais_100['id_int'].unique():

In [ ]:
# Original
def data_augmentation(df,n=3,p=0.01):
  """
  La valeur de p est très importante : c'est le pourcentage de modification. (Accuracy = 70% avec p=10%, =90% avec p=1%)
  Objectif de cette fonction est de multiplier par 4 environ le nombre de valeur achat et vente
  Donc à chaque fois qu'il y a une ligne dans df qui donne un signal vente ou achat, on en génère 3 autres. 
  Les 3 là doivent être des petites perturbations de la ligne initiale. 
  cette fonction sera appliquée à data à l'endroit indiqué ci dessous. à ce moment data a 0 : pour vendre, 1 pour conserver, 2 pour acheter

  :param df: DataFrame avec les colonnes des indicateurs et une colonne avec le signal calculé par training_set
  :param p: pourcentage de perturbation. 

  :return: DataFrame     comme df mais avec plus de lignes 
  """
  res = df.copy()
  d = pd.Timedelta('1 day')
  i=0
  for index, row in df.iterrows():
      if row["Signal"]==0 or row["Signal"]==2:
          for j in range(n):
              res = pd.concat([res, pd.DataFrame({"MACD" : row[0]*(1+uniform(-p,p)),
                                        "RSI" : row[1]*(1+uniform(-p,p)),
                                        "STO_K" : row[2]*(1+uniform(-p,p)),
                                        "D" : row[3]*(1+uniform(-p,p)),
                                        "20d-50d" :row[4]*(1+uniform(-p,p)),
                                        "momentum" : row[5]*(1+uniform(-p,p)),
                                        "capm" : row[6]*(1+uniform(-p,p)),
                                        "Signal" : row["Signal"]
                                        },index = [end + i*d])])
          i+=n
  return res

In [ ]:
df_mauvais_100.groupby(["id_int"]).count()